
@keyframes grow {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}

.lose__menu {
  font-size: 30px;
  animation: grow 1.5s linear forwards;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lose__menu__table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  background-color: rgba(86, 87, 81, 0.5);
}
.lose__menu__result {
  display: flex;
  justify-content: center;
  align-items: center;
}
